@import "./variables.scss";

.commandbar-menu{
  font-size: 0.8rem;
}

.commandbar-input {
  width: 100%;
  border: 1px solid $border-1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  color: $font-light;
}

.commandbar-input:focus-visible {
  outline: 2px solid $border-1;
  box-shadow: 0px 0px 2px 2px $border-1;
}

@media (min-width: 769px) {

}


@media (max-width: 768px) {

}



// .commandbar-filter-menu {
//     display: inline-block;
//     padding: 20px;
//     z-index: 5000;
//     background: $background-1;
//     border: 1px solid $border-1;
//     border-radius: 10px;
//     box-shadow: 0px 0px 7px 2px $border-1;
//     opacity: 1;
//     position: absolute;

//     // column-gap: 20px;
//     form {
// /*      margin: 20px;*/
//     }
//     label {
//       display: block;
//     }
//     input {
//       display: block;
//       width: 100%;
//     }
//   }

//   @media (min-width: 769px) {
//     .commandbar-filter-menu {
//       // grid-template-columns: 1fr 1fr 1fr;
//       // max-width: 100%;
//     }
//   }

//   @media (max-width: 768px) {
//     .commandbar-filter-menu {
//       // grid-template-columns: auto;
//       // width: 100%;
// /*      margin: 20px;*/
//     }
//   }
