@import "./variables.scss";
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

#fileuploader-minisite{
  // scrollbar-color: red orange;
  height: calc(100vh - 80px);
  font-family: 'Open Sans', Arial, sans-serif;
}

// Sidebar


// main window
#command-bar{
  color: $font-dark;
  margin-bottom: 10px;

  button {
    background: none;
    border: none;
    line-height: 30px;
    margin-right: 5px;
    img {
      z-index: 0;
      height: 24px;
      width: 24px;
      filter: opacity(50%);
    }
  }
  button:hover {
    background: $background-3;
    border-radius: 8px;
  }
}
#breadcrumb{
  label:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

#main-content {
  background: $background-1;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  
  label {
    cursor: not-allowed;
  }
}



@media (min-width: 769px) {
  #fileuploader-minisite{
    display: grid;
    grid-template-columns: 200px auto;
  }
  #main-content {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  #fileuploader-minisite{
    position: relative;
  }
  #main-content {
    padding: 10px;
  }
}