@import "./variables.scss";

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

.button-A {
  background: $background-3;
  border: none;
  border-radius: 5px;
  color: $font-dark;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
}

.button-A:hover {
  background: $background-4;
}

.button-A-color{
  background: $background-5;
  color: white;
}

#filemanager-minisite{
  font-family: 'Open Sans', Arial, sans-serif;
  background: $background-1;
  position: relative;
}

// main window
#main-content {
  background: $background-1;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  
  label {
    cursor: not-allowed;
  }
}



@media (min-width: 769px) {

  
}

@media (max-width: 768px) {


}