@import "./variables.scss";

.modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #00000088;
  z-index: 95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-child {
  border: 1px solid $border-1;
  border-radius: 15px;
  background: $background-1;
  box-shadow: 1px 1px 5px 1px #666;
  overflow: hidden;
}

.modal-small {
  .modal-small-buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
  }
}

.modal-title {
  margin-bottom: 20px;
}

#search-bar {
  border-bottom: 1px solid $border-1;
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px;

  img {
    opacity: 0.5;
  }
  input {
    border: none;
    width: 100%;
    color: $font-light;
  }

  input:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

#search-results {
  height: 100%;
  color: $font-dark;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 40px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .result {
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .result:hover {
    background: $background-4;
  }

  .result-filename {
    font-weight: 600;
  }
  .result-path {
    font-weight: 200;
    color: $font-light;
    font-size: 0.8rem;
  }
}

#modal-rename {
  form {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 20px;
  }
}

@media (min-width: 769px) {
  .modal-large{
    height: 60vh;
    width: 60vw;
    margin-bottom: 15vh;
  }
  .modal-small {
    height: 200px;
    width: 400px;
    padding: 25px;
    margin-bottom: 30vh;
  }
}


@media (max-width: 768px) {
  .modal-child {
    // height: 70vh;
    margin-bottom: 15vh;
    // width: 90vw;
  }
  .modal-large{
    height: 70vh;
    margin-bottom: 15vh;
    width: 90vw;
  }
  .modal-small {
    font-size: 0.7rem;
    width: 90vw;
    padding: 10px;
    margin-bottom: 30vh;

    h3 {
      font-size: 1.1rem;
    }
  }
}