@import "./variables.scss";

.modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: $transparent-dark;
  z-index: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-child {
  border: 1px solid $border-1;
  border-radius: 15px;
  background: $background-1;
  box-shadow: 1px 1px 5px 1px #666;
  overflow: hidden;
  cursor: default;
}

.modal-small {
  .modal-small-buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
  }
}

.modal-title {
  margin-bottom: 20px;
}

#search-bar {
  border-bottom: 1px solid $border-1;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  padding: 10px;

  img {
    opacity: 0.5;
    height: 30px;
    width: 30px;
  }

  input {
    border: none;
    height: 30px;
    width: 100%;
    color: $font-light;
  }

  input:focus-visible {
    outline: none;
    box-shadow: none;
  }

  button {
    background: none;
    border: none;
  }
}

#search-results {
  height: 100%;
  color: $font-dark;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 40px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .result {
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .result:hover {
    background: $background-4;
  }

  .result-filename {
    font-weight: 600;
  }
  .result-path {
    font-weight: 200;
    color: $font-light;
    font-size: 0.8rem;
  }
}

#modal-rename {
  form {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 20px;
  }
}

#modal-preview {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 90%;
  max-height: 90%;
  color: $font-dark;
}

.modal-preview-title {
  border-bottom: 1px solid $border-1;
  box-shadow: 1px 1px 2px 3px #BBBBBB10;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto auto;
  padding: 10px 20px;


  h3 {
    font-size: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 30px;
  }

  button {
    background: none;
    border: none;
    // border: 1px solid red;
    grid-row-end: span 2;
  }

  img {
    height: 30px;
    width: 30px;
  }

  label {
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $font-light;
  }
}

.preview-content {
  height: 100%;
  overflow: hidden;
}

.preview-tool {
  min-width: 250px;
  min-height: 150px;
}

.epub-viewer {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;
}

.epub-display {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.epub-nav-bar {
  padding-top: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background: $border-1;
}

.epub-nav-btn {
  background: white;
  border: none;
  line-height: 40px;

  img {
    height: 30px;
    width: 30px;
    opacity: 0.5;
  }
}

.epub-nav-btn:hover {
  background: $background-2;
}

.epub-nav-btn:active {
  background: $background-3;
}

#epub-nav-prev img {
  transform: rotate(180deg);
}

.img-viewer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.img-viewer-zoom-out {
  align-items: center;
  cursor: zoom-in;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img-viewer-zoom-in {
  align-items: flex-start;
  cursor: zoom-out;
  overflow: auto;
}

.pdf-viewer {
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.txt-viewer {
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  max-width: 650px;

  pre {
    overflow: visible;
    padding: 10px 20px;
    white-space: pre-wrap;
  }
}

@media (min-width: 769px) {
  .modal-large{
    height: 60vh;
    margin-bottom: 15vh;
    width: 60vw;
  }
  
  .modal-small {
    height: 200px;
    padding: 25px;
    margin-bottom: 30vh;
    width: 400px;
  }
}


@media (max-width: 768px) {
  .modal-large{
    height: 70vh;
    // margin-bottom: 15vh;
    width: 90vw;
  }

  .modal-small {
    font-size: 0.7rem;
    padding: 10px;
    margin-bottom: 30vh;
    width: 90vw;

    h3 {
      font-size: 1.1rem;
    }
  }
}