@import "./variables.scss";

#sidebar {
  background: $background-2;
  border-right: 1px solid $border-1;
  color: $font-light;
  font-weight: 500;
  height: 100%;
  position: relative;
  z-index: 90;
}

#sidebar-toggler {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  
  img {
    opacity: 50%;
  }
}

#sidebar-menu {
  overflow:hidden;
}

#sidebar-folders{  
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar-list{
  ul {
    margin: 0;
    list-style: none;
    padding-left: 0px;
  }
  .sidebar-list-item {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
  .sidebar-list-item.active{
    white-space: nowrap;
  }
  .sidebar-list-item:hover{
    background: $background-3;
    border-radius: 8px;
  }
}

.sidebar-list-icon {
  background: none;
  border: none;
  color: $font-light;
  font-weight: 500;  
  img {
    height: 24px;
    width: 24px;
    filter: opacity(50%);
  }
}
.sidebar-list-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.sidebar-list-icon {
  transition: transform 0.3s;
}
button.sidebar-list-icon.rotated {
  transform: rotate(90deg);
}
.sidebar-list-icon.non-visible {
  visibility: hidden;
}
.node-hide {
  display: none;
}

#sidebar-storage{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  label {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0px;
  }

  progress {
    background: $background-3;
    border: none;
    height: 3px;
    color: black;
    width: 100%;
  }
}

@media (min-width: 769px) {
  #sidebar-toggler-commandbar,
  #sidebar-toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  $sidebarWidth: 100%;
  #sidebar {
    position: absolute;
    width: $sidebarWidth;
    visibility: visible;
    left: 0;
    transition: left 0.3s ease-in-out, visibility 0.3s ease-in-out;
    font-size: 1.4rem;
  }

  #sidebar.hidden {
    left: -$sidebarWidth;
    visibility: hidden;
  }

  #sidebar-menu {
    padding-top: 10px;
  }
}