@import "./variables.scss";

#sidebar {
  color: $font-light;
  font-weight: 500;
  height: 100%;
  overflow-y: hidden;
  z-index: 90;
}

#sidebar-contents {
  background: $background-2;
  border-right: 1px solid $border-1;
  overflow-y: hidden;
}

#sidebar-toggler {
  background: none;
  border: none;
  
  img {
    height: 40px;
    width: 40px;
    opacity: 50%;
  }
}

#sidebar-menu {
  overflow:hidden;
}

#sidebar-folders{  
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar-list{
  label {
    padding-left: 10px;
    font-weight: bold;
  }
  ul {
    margin: 0;
    list-style: none;
    padding-left: 0px;
  }
  .sidebar-list-item {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
  .sidebar-list-item.active{
    white-space: nowrap;
  }
  .sidebar-list-item:hover{
    background: $background-3;
    border-radius: 8px;
  }
}

.sidebar-list-icon {
  background: none;
  border: none;
  color: $font-light;
  font-weight: 500;  
  img {
    height: 24px;
    width: 24px;
    filter: opacity(50%);
  }
}
.sidebar-list-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.sidebar-list-icon {
  transition: transform 0.3s;
}
button.sidebar-list-icon.rotated {
  transform: rotate(90deg);
}
.sidebar-list-icon.non-visible {
  visibility: hidden;
}
.node-hide {
  display: none;
}

#sidebar-storage{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  label {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0px;
  }

  progress {
    background: $background-4;
    border: none;
    min-height: 5px;
    color: black;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background: $background-4;
  }


  progress[value]::-moz-progress-bar {
    background: #363636;
  }
  
  progress[value]::-webkit-progress-value {
    background: #363636;
  }
}

@media (min-width: 769px) {
  #sidebar-background {
    display: none;
  }

  #sidebar-toggler-commandbar,
  #sidebar-toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  #sidebar {
    font-size: 1.0rem;
    position: absolute;
    left: 0;
    transition: grid-template-columns 0.3s ease-in-out, visibility 0.3s ease-in-out;
    width: 100%;
    visibility: visible;
  }

  #sidebar-contents {
    left: 0;
    transition: left 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  #sidebar-background {
    background: $transparent-dark;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s linear;
  }

  #sidebar.hidden {
    visibility: hidden;

    #sidebar-background {
      opacity: 0;
    }
  }

  #sidebar-menu {
    padding-top: 10px;
  }
}